<section>
  <div class="container flex mb-8 lg:flex-row flex-col mt-8">
    <h2 class="font-bold text-center lg:text-4xl text-3xl mb-4 font-Gilroy block lg:hidden">Content title</h2>
    <div class="lg:w-4/5 w-full mb-4">
      <img class="w-full h-full rounded" src="./assets/images/image2.jpeg" alt="">
    </div>
    <div class="lg:ml-16">
      <h2 class="font-bold mt-4 text-4xl font-Gilroy lg:block hidden">Content title</h2>
      <p class="leading-8 text-center lg:text-left text-xl font-Gilroy font-normal text-blackWithOpacity mb-8 ml-0">
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.<br>
        <br>
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      </p>
      <div class="lg:block flex items-center justify-center">
        <button class="bg-black text-white text-base font-bold py-2 px-4 rounded mb-12">
          <a href="#">Buy now</a>
        </button>
      </div>
    </div>
  </div>
</section>
